@import url('https://fonts.googleapis.com/css?family=Russo+One');

*{
    margin: 0;
  }
  
  body {
    font-size: 24px;
  }
  
  h2 {
    font-size: 28px
  }
  
  #drum-machine {
    margin: 15px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .wrapper {
      width: 100%;
      display: grid;
      padding: 10px;
      grid-gap: 15px;
      margin-top: 40px;
      border-radius: 15px;
      grid-template-columns: 1fr;
  }
  
  .keyboard {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(3, 1fr);
  }
  
  .keyboard .drum-pad {
    width: 100%;
    height: 80px;
    outline: none;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #ffffff;
    transition: all .3s ease-in-out
  }
  
  @media(min-width: 768px){
    .wrapper {
        width: 680px;
    }
  }
  
  @media(min-width: 992px){
    .wrapper {
       grid-template-columns: 1fr 1fr;
    }
  }
  
  .control {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .control > button,
  .control > input,
  .control > h2{
    margin-bottom: 10px
  }
  
  .control button{
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: #000000;
  }

  .toggle-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }

  .toggle-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 30px;
    transition: 0.4s;
  }

  .toggle-input {
    display: none; /* Hide the actual checkbox. */
  }

  .toggle-input:checked + toggle-slider {
    background-color: #2196F3; /* Change background color when checked. */
  }

  .toggle-slider:before {
    content: " ";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }

  .toggle-input:checked + .toggle-slider:before {
    transform: translateX(20px);
  }