* {
    margin: 0;
    padding: 0;
}

body {
    background: #c2c2d6;
}

#app {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    max-width: 460px;
    background: black;
    border: 2px solid #47476b;
}

.output {
    height: 60px;
}

.keys {
    gap: 2px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.keys button:first-child {
    color: #ffffff;
    grid-column-end: 3;
    grid-column-start: 1;
    background-color: #ac3939;
}

.keys button:nth-child(15) {
    color: #ffffff;
    grid-row: 4 / 6;
    grid-column: 4 / 4;
    background-color: #00264d; 
}

.keys button:nth-child(16) {
    grid-column-start: 1; 
    grid-column-end: 3;
}

.input {
    color: #fff;
    height: 40px;
    display: block;
    font-size: 40px;
    text-align: right;
    padding-right: 10px;
  }
  
.result {
    color: orange;
    height: 25px;
    display: block;
    font-size: 25px;
    text-align: right;
    padding-right: 10px;
}

button {
    border: none;
    background: #4d4d4d;
    color: white;
    font-size: 20px;
    min-width: 75px;
    min-height: 60px;
}

button:hover {
    color: black;
    outline: 0.05em solid grey;
    z-index: 3;
}

p {
    font-size: 15px;
    margin: 10px 0;
    color: #333;
    text-align: center;
}